@model List<MyRecipes.Models.InjectionModel>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<ul>
    @foreach (var injectionModel in @Model)
    {
        <li>@injectionModel.Id  - @injectionModel.Name</li>
    }
</ul>

<form asp-controller="InjectionDemo" asp-action="Index">
    <input name="Name" value=""/>
    <button type="submit">Search</button>
</form>
